<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="/scripts/script.js"></script>
    <title>Main Page</title>

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Homework Dashboard</h1>

    <!-- Wrap buttons inside home-button-container to stack them vertically -->
    <div class="home-button-container">
        <button type="button" id="enterClasses" onclick="window.location.href='/enterClasses'">Enter Classes</button>
        <button type="button" id="addHomework" onclick="window.location.href='/addHomework'">Add Homework</button>
        <button type="button" id="homeworkList" onclick="window.location.href='/homeworkList'">Homework List</button>
    </div>
</body>
</html>